# Feature Identification FX2
SUBSYSTEMS=="usb", ACTION=="add", ATTRS{idVendor}=="24aa", ATTRS{idProduct}=="1000", MODE="666"
# Feature Identification InGaAs
SUBSYSTEMS=="usb", ACTION=="add", ATTRS{idVendor}=="24aa", ATTRS{idProduct}=="2000", MODE="666"
# Feature Identification ARM
SUBSYSTEMS=="usb", ACTION=="add", ATTRS{idVendor}=="24aa", ATTRS{idProduct}=="3000", MODE="666"
# Feature Identification Cobra
SUBSYSTEMS=="usb", ACTION=="add", ATTRS{idVendor}=="24aa", ATTRS{idProduct}=="4000", MODE="666"
#
#
# Stroker Protocol ARM
SUBSYSTEMS=="usb", ACTION=="add", ATTRS{idVendor}=="24aa", ATTRS{idProduct}=="0009", MODE="666"
# Stroker Protocol FX2
SUBSYSTEMS=="usb", ACTION=="add", ATTRS{idVendor}=="24aa", ATTRS{idProduct}=="0028", MODE="666"
SUBSYSTEMS=="usb", ACTION=="add", ATTRS{idVendor}=="24aa", ATTRS{idProduct}=="0029", MODE="666"
# Ancient "HighSpeed" FX2
SUBSYSTEMS=="usb", ACTION=="add", ATTRS{idVendor}=="24aa", ATTRS{idProduct}=="0002", MODE="666"
# 785LC laser with cooling
SUBSYSTEMS=="usb", ACTION=="add", ATTRS{idVendor}=="24aa", ATTRS{idProduct}=="0014", MODE="666"
SUBSYSTEMS=="usb", ACTION=="add", ATTRS{idVendor}=="24aa", ATTRS{idProduct}=="0016", MODE="666"
